.heading {
  font-size: 125px;
  text-align: center;
  background-image: linear-gradient(
    210deg,
    hsl(351.29999999999995, 72.1%, 60.6%) 46%,
    hsl(272.20000000000005, 56.7%, 66.5%) 63%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 80px;
  margin-top: 80px;
}

.searchbar_cnt {
  text-align: center;
  width: 100%;
}

.searchbar {
  width: 50%;
  font-size: 30px;
  padding: 15px 25px;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 25px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -14px rgba(0, 0, 0, 0.75);
}

.searchbar::placeholder {
  opacity: 0.3;
}

.searchbar:focus {
  border: none;
  outline: none;
}

.suggestions_cnt {
  margin-top: 60px;
  width: 100%;
}
.suggestions_heading {
  text-align: center;
}

.movies_cnt {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  height: 500px;
}

.movies_cnt::-webkit-scrollbar {
  display: none;
}

.movie_cnt {
  flex: 0 0 auto;
  width: 250px;
  height: 300px;
  margin: 20px 50px;
  padding: 30px;
  transition: transform 0.2s;
}

.movie_cnt:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.poster {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.movie_title {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}
